{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
	<head>

		{{ block('head_brand') }}
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/loader.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.theme.css" />
		<link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
		<script src="https://www.youtube.com/iframe_api"></script>
		<script>var players = [];</script>

	</head>
	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="fixed-map-wrapper">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 352 824" style="enable-background:new 0 0 352 824;" xml:space="preserve">
				<style type="text/css">
					.st0{display:none;}
					.st1{fill:none;stroke:#C9C9C9;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st2{fill:none;stroke:#BFBFBF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st3{fill:none;stroke:#00AFF4;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st4{opacity:0.75;}
					.st5{fill:#4C4C4C;}
					.st6{font-family:'HelveticaNeue-Light';}
					.st7{font-size:13.5138px;}
					.st8{fill:#545454;}
					.st9{font-size:19.9114px;}
					.st10{stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
					.st11{opacity:0.75;fill:#4C4C4C;enable-background:new    ;}
					.st12{opacity: 0.25 !important;}
				</style>
				<g id="map" class="st0">
					
						<image style="display:inline;overflow:visible;opacity:0.51;" width="1914" height="1110" xlink:href="../../../../Desktop/Capture d’écran 2017-07-10 à 13.47.32.png"  transform="matrix(0.3805 1.429 -1.429 0.3805 479.8834 -585.5818)">
					</image>
				</g>
				<g id="wall">
					<g id="Calque_2" class="st0">
						
							<image style="display:inline;overflow:visible;opacity:0.65;enable-background:new    ;" width="1914" height="1110" xlink:href="../../../../Desktop/Capture d’écran 2017-07-10 à 13.47.32.png"  transform="matrix(0.2159 0.7463 -0.7463 0.2159 330.298 -298.1519)">
						</image>
					</g>
					<g id="Calque_1_1_">
						<g id="path-full">
							<path class="st1" d="M120.4,48.5c0,0,21.2,69.4,25.1,77.1s19.3,38.5,21.2,46.3c1.9,7.7,3.9,21.2,3.9,21.2h-25.1v88.7l-7.7,25.1
								l-5.8,21.2v52l-5.8,19.3v17.3l-5.8,55.9l25.1,67.5l7.7,40.5l15.4,38.5l9.6,30.8c0,0,28.9-7.7,30.8-7.7c1.9,0,9.6,1.9,9.6,1.9V673
								l21.2,38.5l9.6,34.7"/>
						</g>
					</g>
				</g>
				<g id="path-phoenix-nogales">
					<path class="st3" d="M277.1,344.2l-7.3,6.5l-1.6,8.6l-8.6,3l-21.5,24.5l-9.4,3.2c-0.9,1-6,16.3-9.1,25l-19.1,31.2l-34.7,9.1
						l-10.8-2.4l-14,4.8l-4.6,6.7l-14.5,9.9"/>
				</g>
				<g id="path-nogales-tombstone-elpaso">
					<path class="st3" d="M120.9,477l27.7,10.1l3.4,5.1l5.8,4.9c0,0,6.3,2.4,8.2,3.8c1.8,1.4,4,3.8,4,3.8l8.3,6.7l4.2,10.5l6.3,14.3
						L189,552l9.1,22.3l11.8,23.5l3.6,18.1l23.4,2.2l22.1,50.9l-1.6,11.2l15.4,40.6l-21.9,27.5"/>
				</g>
				<g id="path-elpaso-tucson-sells">
					<path class="st3" d="M250.7,748.4l21.9-27.5l-15.4-40.6l1.6-11.2l-22.1-50.9l7.3-21.3l-0.9-7.4l-15.1-14.5l0.3-43.1l-3.5-7.4
						l-12.4-5.6l-11.5-7.4c0,0-8.6-3.9-9.4-4.4s-5.3-10.6-5.3-10.6l-3.5-15.1l0.6-10.6l6.5-14.8l10.7-9.9l-24-25.3l-19.8-12.7"/>
				</g>
				<g id="path-sells-yuma">
					<path class="st3" d="M156.7,406.3l2.4-35.1c0,0-11.6-37.1-11.5-38.4c0.1-1.3,4.7-10.6,4.7-10.6l23.3-5l15.4-13l18.6-5.6l-9.7-22.1
						l-13-16.5l-10-19.8l-5.9-13.9l3.8-10"/>
				</g>
				<g id="path-yuma-sandiego">
					<path class="st3" d="M175.3,213c0,0,0.9-13.3,0.9-14.8c0-1.5-2.4-17.7-2.4-17.7l-4.4-15.9L157,138l-8.9-17.4L135.4,81l-6.8-26
						l-10.3-8"/>
				</g>
				<g id="phoenix-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 290.4651 348.3571)" class="st5 st6 st7">Phoenix</text>
					</g>
				</g>
				<g id="phoenix-dot">
					<g id="step1-dot_9_">
						<circle class="st8" cx="277" cy="344" r="3.5"/>
					</g>
				</g>
				<g id="nogales-text">
					<text transform="matrix(1 0 0 1 27.9042 481.3255)" class="st5 st6 st9">Nogales</text>
					<text transform="matrix(1 0 0 1 38.4042 504.3255)" class="st5 st6 st9">(MEX)</text>
					<text transform="matrix(1 0 0 1 142.0031 481.8817)" class="st5 st6 st9"> Nogales (USA)</text>
				</g>
				<g id="nogales-dot">
					<g id="step1-dot_2_">
						<circle class="st10" cx="120.7" cy="475.6" r="7.3"/>
					</g>
				</g>
				<g id="tombstone-text">
					<text transform="matrix(1 0 0 1 192.0889 514.8159)" class="st11 st6 st7">Tombstone</text>
				</g>
				<g id="tombstone-dot">
					<g id="step1-dot_3_">
						<circle class="st8" cx="178.4" cy="510.5" r="3.5"/>
					</g>
				</g>
				<g id="elpaso-text">
					<text transform="matrix(1 0 0 1 170.4007 755.1216)" class="st5 st6 st9">Juarez</text>
					<text transform="matrix(1 0 0 1 174.2007 779.0216)" class="st5 st6 st9">(MEX)</text>
					<text transform="matrix(1 0 0 1 270.8035 755.6919)" class="st5 st6 st9">El Paso</text>
					<text transform="matrix(1 0 0 1 278.9035 779.5919)" class="st5 st6 st9">(USA)</text>
				</g>
				<g id="elpaso-dot">
					<g id="step1-dot">
						<circle class="st10" cx="248.7" cy="748.2" r="7.3"/>
					</g>
				</g>
				<g id="tucson-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 213.5341 450.7631)" class="st5 st6 st7">Tucson</text>
					</g>
				</g>
				<g id="tucson-dot">
					<g id="step1-dot_4_">
						<circle class="st8" cx="200.1" cy="444.9" r="3.5"/>
					</g>
				</g>
				<g id="sells-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 170.8308 412.7429)" class="st5 st6 st7">Sells</text>
					</g>
				</g>
				<g id="sells-dot">
					<g id="step1-dot_5_">
						<circle class="st8" cx="157.5" cy="408.3" r="3.5"/>
					</g>
				</g>
				<g id="ajo-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 189.123 320.9916)" class="st5 st6 st7">Ajo</text>
					</g>
				</g>
				<g id="ajo-dot">
					<g id="step1-dot_1_">
						<circle class="st8" cx="176.5" cy="316.2" r="3.5"/>
					</g>
				</g>
				<g id="yuma-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 189.1637 219.5013)" class="st5 st6 st7">Yuma</text>
					</g>
				</g>
				<g id="yuma-dot">
					<g id="step1-dot_7_">
						<ellipse class="st8" cx="174.5" cy="215.2" rx="3.5" ry="3.5"/>
					</g>
				</g>
				<g id="sandiego-text">
					<text transform="matrix(1 0 0 1 145.6796 55.2096)" class="st5 st6 st9">San Diego</text>
					<text transform="matrix(1 0 0 1 165.9796 79.1096)" class="st5 st6 st9">(USA)</text>
					<text transform="matrix(1 0 0 1 34.1328 53.6955)" class="st5 st6 st9">Tijuana</text>
					<text transform="matrix(1 0 0 1 39.8328 77.5955)" class="st5 st6 st9">(MEX)</text>
				</g>
				<g id="sandiego-dot">
					<g id="step1-dot_8_">
						<circle class="st10" cx="119.8" cy="47.7" r="7.3"/>
					</g>
				</g>
			</svg>
		</div> -->
		
		<!-- <div class="overlay">
			<img class="logo-lt-blanc" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div> -->

		<header>
			<div class="header__bg"></div>
			<div class="header__gradient"></div>
			
			<!-- <div class="video-wrapper">
				<video playsinline autoplay loop muted>
				  <source src="https://player.vimeo.com/external/272224606.hd.mp4?s=0767373c2b5d80d663ef69df7f25421cf400f1e7&profile_id=175" type="video/mp4"> 
				  Votre navigateur ne supporte pas les vidéos HTML%.
				</video>
			</div> -->

			<!-- <div class="smil-wrapper">
				<div class="layer layer-bg"><img src="img/scene-intro-bg.svg" alt=""></div>
				<div class="layer layer-clouds"><img src="quoi bon/scene-intro-clouds.svg" alt=""></div>
				
				<div class="layer layer-smoke1"><img src="img/scene-intro-smoke1.svg" alt=""></div>
				<div class="layer layer-smoke2"><img src="img/scene-intro-smoke2.svg" alt=""></div>
				<div class="layer layer-msc"><img src="img/scene-intro-msc.svg" alt=""></div>
				<div class="layer layer-speedboat"><img src="img/scene-intro-speedboat.svg" alt=""></div>
				<div class="layer layer-fishboat"><img src="img/scene-intro-fishboat.svg" alt=""></div>
			</div> -->

			<div class="header__content">
				<div class="header__content__container">
					<div class="header__content__container__box">
						<h1>Comment Roger est devenu Federer<br><!-- <span></span> --></h1>
						<!-- <img class="separateur" src="img/separateur.svg" alt=""> -->
						<h2 class="author">Un article de<span> Laurent Favre</span></h2>	
						<h2 class="social" >
							<a target="blank" href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button"><i class="fa fa-facebook"></i></a>
							<a target="blank" href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=letemps"><i class="fa fa-twitter fa-middle"></i></a>
							<a target="blank" href="https://www.linkedin.com/shareArticle?url={{ app.url }}&mini=true&title={{ title|url_encode }}&summary={{ description|url_encode }}&source={{ 'Le Temps'|url_encode }}"><i class="fa fa-linkedin"></i></a>
						</h2>
					</div>
				</div>
			</div> 

			

			<div class="scroll-indicator">
				<div class="scroll-indicator-inner"></div> 
			</div>

			<!-- <div class="header-sponsor">
				<a href="https://www.letemps.ch/partenariats" target="_blank"><span class="charte">[?]</span></a>
				<a href="https://www.mirabaud.com/fr/" target="_blank"><img src="img/logo-sponsor-only.svg" alt=""></a> 
				<span>Avec le soutien de </span>

			</div> -->
		</header>

		

		<section class="text padding-bottom">
			<div class="container">

				<h3>
					Le 7 juillet 1998, un jeune espoir suisse du tennis disputait son premier match professionnel à Gstaad. Vingt ans après, le récit de son extraordinaire parcours indique qu'on ne naît pas Roger Federer, on le devient<hr> 
				</h3>

				<div class="spacer-small"></div>
				<div class="spacer-small"></div>

				<h4>
					Texte: Laurent Favre<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>Iconographie: Anne Wyrsch
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>Format web: César Greppin
				</h4>

				<p>
					Dans l’histoire contemporaine et populaire de la Suisse, il y a un avant et un après 7 juillet 1998. Ce jour-là, Roger Federer est né à notre imaginaire. Il est né à 16 ans et 11 mois. C’était un après-midi pluvieux, comme souvent à Gstaad au début de l’été. Tout juste auréolé de sa victoire à Wimbledon (déjà) chez les juniors, ce jeune espoir du tennis suisse s’apprêtait à jouer son premier match professionnel contre un routinier Argentin, Lucas Arnold, et le court N°1 en bordure de la Promenade était trop exigu pour contenir toute l’exaltation d’un public avide de découvrir «l’Elu».
				</p>

				<p>
					La presse nationale était là, y compris Le Temps, qui n’était vieux que de quelques mois, et tous les journaux lui consacrèrent des têtes de page, avant et après son match. D’emblée, les médias se sont penchés sur son berceau, comme les fées sans doute le 8 août 1981, jour de sa véritable naissance. Il y a donc eu tout de suite un rapport particulier, intime, entre un pays qui peine tant à vouer un culte à ses sportifs et qui se méfie du vedettariat et ce jeune joueur de tennis aux allures de sympathique garnement.
				</p>

				<p>
					Roger Federer a perdu ce premier match du 7 juillet 1998, et à la réflexion c’était sans doute une bonne chose, pour lui comme pour nous. On ne naît pas Roger Federer, on le devient. Cela lui a pris quelques années et le processus est toujours en cours car le personnage comporte de multiples facettes qui ne cessent de s’enrichir mutuellement. Regarder Roger devenir Federer aura été ces vingt dernières années une expérience fascinante.
				</p>

			</div>
		</section>

	

		

		<!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
		<!-- <section class="gallery small">
			<div class="layout">
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<div class="caption">
					<b>LES CLANDESTINS</b> ont souvent subi des situations de violence liées aux narcotrafiquants.
				</div>
			</div>
		</section> -->

		

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<!-- <section class="gallery hero">
			<div class="layout"> 
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<div class="caption">
					<b>VICENTE PACO</b>, l'agent de la Border Patrol rencontré à Nogales. <i>«Quand je porte l’uniforme, je suis là pour appliquer la loi et servir les Etats-Unis, rien d’autre ne compte.»</i>
				</div>
			</div>
		</section> -->


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Une enfance suisse (1981-1993)</h3>

				<p>
					Quelle est la part d’inné, quelle est la part d’acquis? Aurait-il remporté autant de titres s’il avait simplement hérité du physique plus trapu de son père Robert? Mais ne doit-il pas une partie de ses qualités à son éducation et à l’influence des origines sud-africaines de sa mère Lynette? Comment faire le tri? L’enfance de Roger Federer est celle d’une jeunesse suisse, heureuse, saine, insouciante. Une sœur aînée, Diana, une maison mitoyenne dans la banlieue de Bâle, à Münchenstein (BL), et du tennis, qu’il pratique dans les jupes de sa mère au club de l’entreprise Ciba à Allschwil. A 4 ans, il est capable de renvoyer la balle vingt fois de suite. Le petit prodige n’est pas un ange, loin de là. Il brille indifféremment avec une raquette de badminton, de tennis ou de pingpong mais peut révéler son côté sombre en se montrant impatient, agressif, insolent, mauvais perdant. Peut-être serait-il aujourd’hui diagnostiqué caractériel et hyperactif.
				</p>

				<p>
					A 8 ans, il est inscrit au TC Old Boys, où un entraîneur formé à l’école tchèque, Adolf «Seppli» Kacovsky, est chargé de débourrer le jeune pur-sang. Le bonhomme en a vu d’autres, mais des comme ce gamin, jamais! «Il est né avec une raquette dans la main. Et surtout, il met trois coups à apprendre ce que les autres assimilent en plusieurs semaines.» Le club trouve un arrangement avec la famille pour financer les cours privés et sur le court N°5, le vieil homme et l’enfant forment un drôle le duo, l’un passant l’éponge sur les excentricités de l’autre («Tu as vu ça? Avec ce coup, je vais gagner Wimbledon!») avec d’autant plus de facilité que ses progrès raquette en main sont vertigineux.
				</p>

				<p>
					Tous ne font pas preuve de la même mansuétude et le fils des Federer est souvent montré du doigt. Avec son copain Marco (Chiudinelli), il crie, chante, rigole et se fait souvent virer du court. «Il disait à tout le monde qu’il voulait devenir le numéro un mondial et tout le monde riait», se souvient Madeleine Bärlocher, ancienne responsable du mouvement junior du TC Old Boys, qui tenait ces dernières années un stand de bretzel aux Swiss Indoors de Bâle. Robert et Lynette trouvent ça moins drôle, surtout lorsqu’ils se font insulter au bord du court par leur propre fils, qui se frustre facilement et s’emporte violemment.
				</p>

				<p>
					A dix ans, Roger Federer n’est pas le meilleur de Suisse. Il n’est même pas le meilleur de Bâle. Le meilleur, c’est Dany Schnyder (le frère de Patty), si régulier alors que Roger perd ses nerfs à la première contrariété. Dany bat Roger neuf fois de suite et puis un jour, Roger bat Dany. Il ne perdra plus jamais contre lui. En août 1993, à Bellinzone, il est pour la première fois champion de Suisse. Il a appris de ses erreurs, compris que le talent seul ne suffirait pas. A partir de là, confronté à une difficulté, il va analyser le problème, chercher une solution, la mettre en pratique et passer à l’étape suivante. Un schéma qu’il reproduira toute sa vie.
				</p>

			</div>
		</section>


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Les tournants de l'adolescence (1993-1998)</h3>

				<p>
					Qui peut croire aujourd’hui que Roger Federer a arrêté l’école à 16 ans? Un pari risqué, mais il n’a jamais eu peur de faire des choix et de trancher dans le vif (une autre constance de sa carrière). Avant cela, il a déjà laissé tomber le foot pour le tennis, Boris Becker (sa première idole) pour Stefan Edberg, Seppli Kacovsky (un peu dépassé) pour l’Australien Peter Carter, plus jeune, plus psychologue. A 14 ans, il décide de quitter Bâle pour rejoindre le tennis-étude que la fédération vient d’ouvrir à Ecublens. Ses parents l’apprendront dans le journal.
				</p>

				<p>
					A 15 ans, il commence à travailler avec le préparateur physique Pierre Paganini. Il est le meilleur junior de sa catégorie d’âge, l’un des meilleurs européens. On commence à parler de lui dans les journaux. IMG l’a repéré, Nike lui a offert un petit contrat. Il donne ses premières interviews. Il ne dit plus qu’il sera numéro 1 mondial; ce sont les autres qui le clament et cela ne le fait plus rire. «Quand j’étais jeune, nous raconta-t-il un jour, des gens venaient vers moi et me disaient: «Un jour, tu seras numéro un mondial.» Je ne les connaissais pas et ils me balançaient ça comme ça, sans se soucier des conséquences. J’ai dû vivre avec ça pendant des années.»
				</p>

				<p>
					A 16 ans, la réalité lorsqu’il se lance en professionnel, c’est que sa mère augmente son temps de travail pour payer ses déplacements et son père refuse un poste en Australie pour rester près de lui. Mais les parents préviennent: «On veut voir des résultats, on ne te financera pas pendant dix ans», racontent-ils au journaliste zurichois René Stauffer, l’un des premiers à le suivre de près. Stauffer lui consacrera un livre, très tôt, en 2003. Le titre en est: «La quête de la perfection». «J’avais été marqué par une discussion avec Roger alors qu’il n’avait que 15 ou 16 ans. Il était persuadé qu’il était possible de jouer le match parfait du début à la fin, et c’est ce qu’il s’est mis en tête de réussir.»


				</p>

				<p>
					A 16 ans, Roger Federer rencontre Marc Rosset, le cador de l’époque. Sympathie réciproque immédiate. «Il était venu à Genève pour me servir de sparring-partner, se souvient le consultant tennis du Temps. D’ordinaire, les petits jeunes balisent un peu à l’idée de jouer avec le numéro 1 suisse mais était plus que relax. Et le haut niveau, c’est être capable de jouer relâché dans les moments les plus stressants.»
				</p>

				<p>
					Arrive Gstaad, le 7 juillet 1998. Défaite. Deuxième apparition sur le circuit ATP à l’automne à Toulouse: il passe deux tours et perd en quart de finale face au futur vainqueur. Il gagne 10 000 dollars. Bâle l’invite pour «son» tournoi, celui où il était ramasseur de balles quelques années plus tôt. Le sort lui offre Andre Agassi. «Je vais jouer pour gagner», croit-il bon de lancer. Agassi le renvoie à ses études sans trop de ménagement. Au tournoi suivant, à Küblis (GR), il se fait éliminer au premier tour et repart avec un chèque de 87 dollars et une amende de 100 dollars pour non combativité. Mais en fin d'année, il est sacré champion du monde juniors.
				</p>

			</div>
		</section>


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Gravir la dernière marche (1999-2003)</h3>

				<p>
					Au terme de sa première saison complète chez les professionnels (1999), il est déjà 64e mondial et n’a plus besoin de l’aide financière de ses parents. En avril, il a débuté en Coupe Davis à Neuchâtel contre l'Italie. En juillet, il est retourné à Gstaad, où Younes El Aynaoui l’a battu plus facilement encore que Lucas Arnold un an plus tôt. «Il avait déjà une petite réputation, se souvient le Marocain. Mais il était maigrichon, sa balle n’avait pas beaucoup de force, il jouait loin derrière la ligne. La raquette est partie deux ou trois fois… J’étais à mille lieues de penser qu’il deviendrait ce qu’il est aujourd’hui. Pour l’avoir rejoué à différents âges, j’ai pu constater ensuite sa phénoménale progression. On parle toujours du talent de Federer, moi j’admire surtout le travail de Federer.»
				</p>

				<p>
					Depuis Pâques 2000, il travaille avec Peter Lundgren, un Suédois roublard qui tient plus du pote que du professeur mais qui connaît son affaire. A cette époque, le Russe Andreï Medvedev traîne souvent avec eux. «Mon coach était ami avec Peter, j’appelais Roger «Junior». Quand j’ai joué contre lui la première fois, en mai 2000 à Rome, j’ai pensé que c’était un tirage facile. Mais après un set, je ne savais plus où j’étais. C’en était presque choquant: rien de ce qu’il faisait n’était prévisible, devinable ou conforme à ce que la majorité des joueurs aurait fait. Personne, jamais, ne m’avait ainsi obligé à jouer à la perfection sur chaque point pour m’en sortir. Je m’en suis tiré à l’expérience, en refaisant mes lacets, en inventant des contestations arbitrales. J’ai gagné mais il n’aurait jamais du perdre. Je me souviens avoir dit après, dans le vestiaire, à Peter Lundgren que s’il parvenait à continuer comme ça, il irait loin.»


				</p>

				<p>
					Il va loin, puisque le voici déjà 25e mondial en décembre 2000 à 19 ans. En février de l’année suivante, il décroche son premier titre ATP à Milan. Il va en demi-finale à Marseille, en finale à Rotterdam. En Coupe Davis, il obtient la tête de Jakob Hlasek, désavoué malgré trois ans de contrat. A 19 ans, il est déjà le patron du tennis suisse. Le 2 juillet 2001, il signe son premier grand exploit en battant Pete Sampras à Wimbledon, mais perd au tour suivant. Ce sentiment d'inachevé perdure en 2002. Il entre dans le top 10, mais sort d'entrée à Roland-Garros et Wimbledon. Le 2 août 2002, il apprend la mort accidentelle de son ancien coach Peter Carter. C'est la première fois qu'il est confronté à la mort. «Je crois malheureusement que ce décès a marqué une rupture dans son parcours, estime Marc Rosset. Après ce drame, il a cessé d’être nonchalant, comme s’il devait réussir.»


				</p>

				<p>
					Réussir, à ses yeux, c’est remporter le tournoi de son enfance: Wimbledon. Il y parvient en juillet 2003, après une ultime déconvenue à Roland-Garros (défaite au premier tour) au terme de laquelle il se promet de désormais «refuser de perdre.» A Wimbledon, il bat l’Australien Mark Philippoussis assez facilement. «Ça, personne ne te l'enlèvera jamais», se dit-il. Il pense avoir accompli son destin mais il vient seulement de commencer.


				</p>

			</div>
		</section>


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Le ciel est la limite, Nadal aussi (2004-2008)</h3>

				<p>
					En février 2004, Roger Federer a atteint tous ses rêves. Il a remporté Wimbledon, le Masters à Houston (malgré un organisateur texan qui lui lance: «Toi, j'espère bien te voir perdre», avant la finale contre Andre Agassi), l’Open d’Australie et il est devenu numéro 1 mondial. A 22 ans et demi, la situation n’est pas sans danger. «La gloire peut facilement vous monter à la tête, note Younes El Aynaoui, surtout quand vous êtes jeune. Mais lui, plus il a eu du succès et plus il est devenu sérieux, concentré, professionnel, mature.»
				</p>

				<p>
					Ce fut un choix mûrement réfléchi, quoique les motivations profondes n’en soient pas clairement établies. Est-il mu par l’orgueil (devenir le plus grand), la curiosité (aller voir où sont ses limites), la passion du tennis (jouer le plus possible), la peur du vide (fuite en avant)? Peter Lundgren est débarqué, et remplacé par l’expérimenté Tony Roche, ancien coach d’Ivan Lendl. Une fois encore, Federer a agi à l’instinct. Il entre dans une dimension qu’il est le seul à connaître, et se fait de plus en plus confiance.


				</p>

				<p>
					Durant quatre ans, il gagne tout: en 2004 (11 titres, dont 3 du Grand Chelem, 74 victoires, 6 défaites, 100% de victoires en finale, des titres sur les quatre surfaces (terre battue, gazon, dur, indoor), en 2006 (12 titres, dont 3 du Grand Chelem, finaliste à Roland-Garros, 92 victoires, 5 défaites, 94% de victoires) et en 2007 (8 titres, dont 3 du Grand Chelem, finaliste à Roland-Garros, 68 victoires, 9 défaites, 88% de victoires). Sur la période, les records explosent: 11 titres du Grand Chelem sur 16 possibles, cinq victoires consécutives à Wimbledon et autant à l'US Open, 11 finales de Grand Chelem consécutives et 23 demi-finales consécutives (13 de plus que le précédent record d'Ivan Lendl!). Federer devient l'égal de Pelé, Jordan, Merckx, Ali.


				</p>

				<p>
					A partir du printemps 2007, quelques défaites précoces font naître l'hypothèse d'un déclin alors qu'il sera cette année-là encore en finale des quatre levées du Grand Chelem... C’est à cette occasion qu’il lance cette fameuse petite phrase: «J'ai créé un monstre». Federer se détache de Roger...
				</p>

				<p>
					Parle-t-il de Rafael Nadal? L’Espagnol devient une menace très sérieuse. Jusqu’en mai 2008, il ne remporte que Roland-Garros, mais la dernière fois avec une telle facilité (6-0 dans la dernière manche) que Federer en conçoit un complexe. Il est encore marqué lorsqu’il perd, le 6 juillet 2008 à la nuit tombante son titre à Wimbledon, dans ce qui demeure sa plus grande déception et constitue l’un des plus grands matchs de l’histoire du tennis. «Tant que je gagne Wimbledon et que je reste numéro 1 mondial, tout va bien»,assurait Federer.
				</p>

				<p>
					Nadal va encore prendre l’un et l’autre, puis un autre bastion de Federer, l’Open d’Australie, en janvier 2009. Le Bâlois est usé, fatigué, critiqué. Durant la cérémonie protocolaire, il ne peut retenir ses larmes. Après dix ans de carrière, c’est la première fois qu’il régresse.
				</p>

			</div>
		</section>

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Le père, la légende, la marque (2009-2012)</h3>

				<p>
					Roger Federer ne dominera plus jamais le tennis comme entre janvier 2004 à 2007. Mais sa notoriété, sa réputation et l’on peut même à cette époque commencer à parler de légende, ne souffrent jamais de cette baisse relative de résultats. Il gagne moins souvent mais ses victoires n’en acquièrent que davantage de prestige parce qu’elles sont obtenues face à une adversité supérieure et qu’elles incarnent toujours le triomphe d’un style, d’un esthétisme, d’un idéal. Nadal est apparu, d’abord sur terre battue, puis sur toutes les surfaces. Voici qu’arrivent Novak Djokovic, puis Andy Murray. Il n’est plus l’invincible mais demeure «le maître». La tête de série numéro 2 ou 3 reste le numéro 1 dans le coeur du public et les attentions des organisateurs.
				</p>

				<p>
					Deux fois, en 2009 puis en 2012, il reconquiert le fauteuil de numéro 1 mondial, que tous ses admirateurs continuent de considérer comme sa place naturelle. La première fois en parvenant enfin à gagner Roland-Garros (puis, dans la foulée, Wimbledon), un exploit qui le classe définitivement hors de portée symbolique de la concurrence passée et présente. La seconde fois en traversant une première saison sans titre majeur (2011) pour égaler à Wimbledon deux records majuscules de Pete Sampras: septième succès à Wimbledon et plus grand nombre (286) de semaines passées à la première place mondiale.
				</p>

				<p>
					Ces victoires ne racontent qu’une partie du Roger Federer de cette période, parce qu’il n’est plus désormais qu’un joueur de tennis. Sur le court, ils sont au moins trois à cohabiter. A Roger l’homme et Federer le phénomène est venue s’ajouter «RF» la marque. En coulisses, son agent Tony Godsick fait tourner la machine et entrer les dollars. La liste des sponsors ne cesse de s’allonger, il faut désormais aligner six zéros sur le chèque pour avoir une chance de le voir dans son tournoi.
				</p>

				<p>
					C’est aussi l’époque où le Bâlois innove en voyageant partout avec sa famille. Il s’est marié en avril 2009 avec Mirka, son ami de longue date. En juillet de la même année, ils sont devenus parents de deux jumelles. Comme son épouse, qui le pousse à aller au bout de son potentiel et se charge du reste, il ne veut renoncer à rien: ni aux honneurs du tennis, ni aux joies de la vie de famille, ni aux opportunités d’une vie de star. Ils deviennent des habitués des défilés de mode, des galas de charité, et le lendemain matin, il s’entraîne avec une application jamais démentie. Aucune info ni photo de sa vie privée ne fuite, ce qui est exceptionnel pour une célébrité et implique un cercle d’amis très sûrs et dénote une capacité hors norme à s’entourer et à sa protéger.
				</p>

				<p>
					Federer, c’est l’un de ses plus grands tours de force, parvient à rester le plus normal possible. «Le plus impressionnant chez lui, observe l’ancien joueur russe Andreï Medvedev, c’est la façon dont il a su rester le même durant toutes ces années. Peu de joueurs arrivent à gérer une telle gloire et une telle pression avec autant de grâce que lui. Il respecte le public, les adversaires, les sponsors, les médias, les ramasseurs de balle, les sparing-partners. C’est ce qui restera de lui: cette attitude.»
				</p>

			</div>
		</section>

		

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">La beauté du crépuscule (2013-2018)</h3>

				<p>
					Le sixième et dernier mouvement de la carrière de Roger Federer est le plus inattendu. Il a la beauté des étés indiens qui se prolongent loin dans l'automne. Il pourrait arrêter. Il continue, mais il se fait plus rare. Il joue moins, choisit plus ses objectifs. Ce sont toujours les mêmes: les tournois du Grand Chelem, mais il n'en gagne plus depuis Wimbledon 2012. L'enchaînement des victoires (il faut désormais battre deux ou trois très grands joueurs pour aller au bout) est sa limite et c'est désormais Novak Djokovic qui le frustre, trois fois, en finale (Wimbledon 2014 et 2015, US Open 2015).
				</p>

				<p>
					Il n'est pas très loin, mais il manque quelque chose. Un dos en état de marche, lors de la saison 2013. En 2014, peut-être en raison de ce qui précède, il se décide enfin à jouer à fond la carte de la Coupe Davis. Stan Wawrinka est devenu un vainqueur de Grand Chelem (Open d'Australie 2014) et un partenaire plus que fiable. Le duo va au bout de l'aventure. Ce sera le triomphe de Lille, qu'il savoure surtout pour ce moment partagé avec ses amis de toujours (les remplaçants Michael Lammer et Marco Chiudinelli, le capitaine Severin Lüthi).


				</p>

				<p>
					Avec Stefan Edberg, il tente de faire évoluer son jeu pour l'adapter aux capacités physiques d'un homme de 34 ans. Il doit devenir plus offensif pour réduire les échanges mais un blocage mental le retient toujours un peu. Sa chance finalement, et le dernier grand tournant de sa carrière, sera de se blesser au genou en février 2015. Lui qui était fier de n'avoir jamais subi la moindre opération en dix-huit ans de carrière doit cette fois se résoudre à passer sur le billard. Puis à stopper sa saison après Wimbledon. Il en profite pour passer du temps avec ses garçons (nés en 2014) et pour lancer son autre bébé: la Laver Cup, une compétition Europe-Reste du monde inspirée de la Ryder Cup de golf. Il semble déjà avoir basculé dans l'après-carrière.


				</p>

				<p>
					Lorsqu'il revient à la compétition à l'Open d'Australie 2017 après six mois d'arrêt complet, l'excitation est totale. Elle ne fait que grandir au fil des tours, qu'il franchit avec toujours plus d'aisance. Retombé au 17e rang mondial, Federer a mis à profit cette pause pour réinitialiser son tennis et intégrer sans réserve le jeu d'attaque prôné par Stefan Edberg. Le résultat est un émerveillement et la finale contre Nadal - une première depuis six ans (Roland-Garros 2011) - une apothéose inoubliable. C'est l'un des plus grands come-back de l'histoire du sport, qu'il étire avec une sagesse inflexible: pas de saison sur terre battue pour mieux regagner Wimbledon. Un nouveau problème de dos le contraint de laisser l'US Open à Rafael Nadal mais 2018 le voit à nouveau triompher sur le même schéma: victoire à Melbourne, absence à Roland-Garros pour, une fois encore, tenter de gagner Wimbledon. Ce serait son neuvième et personne ne pourrait prétendre qu'il n'y en aura plus d'autre derrière. C'est en repoussant sans cesse ses limites, constamment porté par l'amour de son sport, que Roger est devenu Federer.
				</p>

			</div>
		</section>

		
		
        
        
		
		<footer>
			<!-- <hr class="end"> -->
			<div class="container">

				<h5>Nos grands formats</h5>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2017/bol-dor-mirabaud-epopee-technologique/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-boldor.jpg');"></div>
							<div class="caption">Le Bol d'Or, une épopée technologique</div>
						</div>
					</a>

					<a href="https://labs.letemps.ch/interactive/2016/longread-parc-adula/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_adula.jpg');"></div>
							<div class="caption">Parc Adula: Bataille dans la montagne</div>
						</div>
					</a>
				</div>

				<div class="row">
				<a href="https://labs.letemps.ch/interactive/2016/longread-fioul-lourd/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_fioul.jpg');"></div>
							<div class="caption">Fioul lourd, le sang impur de la globalisation</div>
						</div>
					</a>

					<a href="https://labs.hebdo.ch/interactive/2016/longread-horlogerie-japonaise/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-horlogerie-japonaise.jpg');"></div>
							<div class="caption">Horlogerie japonaise – A la conquête du monde</div>
						</div>
					</a>
				</div>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2016/longread-gothard/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_gothard.jpg');"></div>
							<div class="caption">Les oubliés du Gothard</div>
						</div>
					</a>
					<a href="https://labs.letemps.ch/interactive/2016/tchernobyl-30-ans/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-tchernobyl.jpg');"></div>
							<div class="caption">30 ans après, voyage au cœur de la zone </div>
						</div>
					</a>
				</div>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2016/shenzhen/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_shenzhen.jpg');"></div>
							<div class="caption">Shenzhen, de la fumée des usines aux ateliers d'artistes</div>
						</div>
					</a>
					<a href="https://labs.letemps.ch/interactive/2016/montre-suisse/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-montre.jpg');"></div>
							<div class="caption">Comment j'ai fabriqué ma montre en 8 heures</div>
						</div>
					</a>
					
				</div>

			</div>

			<div class="credits">
				Texte: Laurent Favre<br>
				Iconographie: Anne Wyrsch<br>
				Format web: César Greppin
			</div>
		</footer>
		
		{{ block('footer_brand') }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
        <script src="js/jquery.lazyload.js?v=1.9.7"></script>
        <script src="js/intro-control.js"></script>
		<script src="js/viewport.js"></script>
        <!--<script src="js/timeline-control.js"></script>-->
        <script src="js/owl.carousel.js"></script>
        <script src="js/main.js"></script>
        <script src="js/timeline.js"></script>
        <!--<script src="js/video-control.js"></script>-->
        <!--<script src="js/map-anim.js"></script>-->
		<!--<script src="js/hero-control.js"></script>-->
		<script src="js/animation-pesticides.js"></script>
		<script src="js/animation-charts.js"></script>
        <script src="js/zoom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>
	</body>
</html>