{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
	<head>

		{{ block('head_brand') }}
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/loader.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.theme.css" />
		<link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
		<script src="https://www.youtube.com/iframe_api"></script>
		<script>var players = [];</script>

	</head>
	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="fixed-map-wrapper">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 352 824" style="enable-background:new 0 0 352 824;" xml:space="preserve">
				<style type="text/css">
					.st0{display:none;}
					.st1{fill:none;stroke:#C9C9C9;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st2{fill:none;stroke:#BFBFBF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st3{fill:none;stroke:#00AFF4;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st4{opacity:0.75;}
					.st5{fill:#4C4C4C;}
					.st6{font-family:'HelveticaNeue-Light';}
					.st7{font-size:13.5138px;}
					.st8{fill:#545454;}
					.st9{font-size:19.9114px;}
					.st10{stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
					.st11{opacity:0.75;fill:#4C4C4C;enable-background:new    ;}
					.st12{opacity: 0.25 !important;}
				</style>
				<g id="map" class="st0">
					
						<image style="display:inline;overflow:visible;opacity:0.51;" width="1914" height="1110" xlink:href="../../../../Desktop/Capture d’écran 2017-07-10 à 13.47.32.png"  transform="matrix(0.3805 1.429 -1.429 0.3805 479.8834 -585.5818)">
					</image>
				</g>
				<g id="wall">
					<g id="Calque_2" class="st0">
						
							<image style="display:inline;overflow:visible;opacity:0.65;enable-background:new    ;" width="1914" height="1110" xlink:href="../../../../Desktop/Capture d’écran 2017-07-10 à 13.47.32.png"  transform="matrix(0.2159 0.7463 -0.7463 0.2159 330.298 -298.1519)">
						</image>
					</g>
					<g id="Calque_1_1_">
						<g id="path-full">
							<path class="st1" d="M120.4,48.5c0,0,21.2,69.4,25.1,77.1s19.3,38.5,21.2,46.3c1.9,7.7,3.9,21.2,3.9,21.2h-25.1v88.7l-7.7,25.1
								l-5.8,21.2v52l-5.8,19.3v17.3l-5.8,55.9l25.1,67.5l7.7,40.5l15.4,38.5l9.6,30.8c0,0,28.9-7.7,30.8-7.7c1.9,0,9.6,1.9,9.6,1.9V673
								l21.2,38.5l9.6,34.7"/>
						</g>
					</g>
				</g>
				<g id="path-phoenix-nogales">
					<path class="st3" d="M277.1,344.2l-7.3,6.5l-1.6,8.6l-8.6,3l-21.5,24.5l-9.4,3.2c-0.9,1-6,16.3-9.1,25l-19.1,31.2l-34.7,9.1
						l-10.8-2.4l-14,4.8l-4.6,6.7l-14.5,9.9"/>
				</g>
				<g id="path-nogales-tombstone-elpaso">
					<path class="st3" d="M120.9,477l27.7,10.1l3.4,5.1l5.8,4.9c0,0,6.3,2.4,8.2,3.8c1.8,1.4,4,3.8,4,3.8l8.3,6.7l4.2,10.5l6.3,14.3
						L189,552l9.1,22.3l11.8,23.5l3.6,18.1l23.4,2.2l22.1,50.9l-1.6,11.2l15.4,40.6l-21.9,27.5"/>
				</g>
				<g id="path-elpaso-tucson-sells">
					<path class="st3" d="M250.7,748.4l21.9-27.5l-15.4-40.6l1.6-11.2l-22.1-50.9l7.3-21.3l-0.9-7.4l-15.1-14.5l0.3-43.1l-3.5-7.4
						l-12.4-5.6l-11.5-7.4c0,0-8.6-3.9-9.4-4.4s-5.3-10.6-5.3-10.6l-3.5-15.1l0.6-10.6l6.5-14.8l10.7-9.9l-24-25.3l-19.8-12.7"/>
				</g>
				<g id="path-sells-yuma">
					<path class="st3" d="M156.7,406.3l2.4-35.1c0,0-11.6-37.1-11.5-38.4c0.1-1.3,4.7-10.6,4.7-10.6l23.3-5l15.4-13l18.6-5.6l-9.7-22.1
						l-13-16.5l-10-19.8l-5.9-13.9l3.8-10"/>
				</g>
				<g id="path-yuma-sandiego">
					<path class="st3" d="M175.3,213c0,0,0.9-13.3,0.9-14.8c0-1.5-2.4-17.7-2.4-17.7l-4.4-15.9L157,138l-8.9-17.4L135.4,81l-6.8-26
						l-10.3-8"/>
				</g>
				<g id="phoenix-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 290.4651 348.3571)" class="st5 st6 st7">Phoenix</text>
					</g>
				</g>
				<g id="phoenix-dot">
					<g id="step1-dot_9_">
						<circle class="st8" cx="277" cy="344" r="3.5"/>
					</g>
				</g>
				<g id="nogales-text">
					<text transform="matrix(1 0 0 1 27.9042 481.3255)" class="st5 st6 st9">Nogales</text>
					<text transform="matrix(1 0 0 1 38.4042 504.3255)" class="st5 st6 st9">(MEX)</text>
					<text transform="matrix(1 0 0 1 142.0031 481.8817)" class="st5 st6 st9"> Nogales (USA)</text>
				</g>
				<g id="nogales-dot">
					<g id="step1-dot_2_">
						<circle class="st10" cx="120.7" cy="475.6" r="7.3"/>
					</g>
				</g>
				<g id="tombstone-text">
					<text transform="matrix(1 0 0 1 192.0889 514.8159)" class="st11 st6 st7">Tombstone</text>
				</g>
				<g id="tombstone-dot">
					<g id="step1-dot_3_">
						<circle class="st8" cx="178.4" cy="510.5" r="3.5"/>
					</g>
				</g>
				<g id="elpaso-text">
					<text transform="matrix(1 0 0 1 170.4007 755.1216)" class="st5 st6 st9">Juarez</text>
					<text transform="matrix(1 0 0 1 174.2007 779.0216)" class="st5 st6 st9">(MEX)</text>
					<text transform="matrix(1 0 0 1 270.8035 755.6919)" class="st5 st6 st9">El Paso</text>
					<text transform="matrix(1 0 0 1 278.9035 779.5919)" class="st5 st6 st9">(USA)</text>
				</g>
				<g id="elpaso-dot">
					<g id="step1-dot">
						<circle class="st10" cx="248.7" cy="748.2" r="7.3"/>
					</g>
				</g>
				<g id="tucson-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 213.5341 450.7631)" class="st5 st6 st7">Tucson</text>
					</g>
				</g>
				<g id="tucson-dot">
					<g id="step1-dot_4_">
						<circle class="st8" cx="200.1" cy="444.9" r="3.5"/>
					</g>
				</g>
				<g id="sells-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 170.8308 412.7429)" class="st5 st6 st7">Sells</text>
					</g>
				</g>
				<g id="sells-dot">
					<g id="step1-dot_5_">
						<circle class="st8" cx="157.5" cy="408.3" r="3.5"/>
					</g>
				</g>
				<g id="ajo-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 189.123 320.9916)" class="st5 st6 st7">Ajo</text>
					</g>
				</g>
				<g id="ajo-dot">
					<g id="step1-dot_1_">
						<circle class="st8" cx="176.5" cy="316.2" r="3.5"/>
					</g>
				</g>
				<g id="yuma-text">
					<g class="st4">
						<text transform="matrix(1 0 0 1 189.1637 219.5013)" class="st5 st6 st7">Yuma</text>
					</g>
				</g>
				<g id="yuma-dot">
					<g id="step1-dot_7_">
						<ellipse class="st8" cx="174.5" cy="215.2" rx="3.5" ry="3.5"/>
					</g>
				</g>
				<g id="sandiego-text">
					<text transform="matrix(1 0 0 1 145.6796 55.2096)" class="st5 st6 st9">San Diego</text>
					<text transform="matrix(1 0 0 1 165.9796 79.1096)" class="st5 st6 st9">(USA)</text>
					<text transform="matrix(1 0 0 1 34.1328 53.6955)" class="st5 st6 st9">Tijuana</text>
					<text transform="matrix(1 0 0 1 39.8328 77.5955)" class="st5 st6 st9">(MEX)</text>
				</g>
				<g id="sandiego-dot">
					<g id="step1-dot_8_">
						<circle class="st10" cx="119.8" cy="47.7" r="7.3"/>
					</g>
				</g>
			</svg>
		</div> -->
		
		<!-- <div class="overlay">
			<img class="logo-lt-blanc" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div> -->

		<header>
			<div class="header__bg"></div>
			<div class="header__gradient"></div>
			
			<!-- <div class="video-wrapper">
				<video playsinline autoplay loop muted>
				  <source src="https://player.vimeo.com/external/272224606.hd.mp4?s=0767373c2b5d80d663ef69df7f25421cf400f1e7&profile_id=175" type="video/mp4"> 
				  Votre navigateur ne supporte pas les vidéos HTML%.
				</video>
			</div> -->

			<!-- <div class="smil-wrapper">
				<div class="layer layer-bg"><img src="img/scene-intro-bg.svg" alt=""></div>
				<div class="layer layer-clouds"><img src="quoi bon/scene-intro-clouds.svg" alt=""></div>
				
				<div class="layer layer-smoke1"><img src="img/scene-intro-smoke1.svg" alt=""></div>
				<div class="layer layer-smoke2"><img src="img/scene-intro-smoke2.svg" alt=""></div>
				<div class="layer layer-msc"><img src="img/scene-intro-msc.svg" alt=""></div>
				<div class="layer layer-speedboat"><img src="img/scene-intro-speedboat.svg" alt=""></div>
				<div class="layer layer-fishboat"><img src="img/scene-intro-fishboat.svg" alt=""></div>
			</div> -->

			<div class="header__content">
				<div class="header__content__container">
					<div class="header__content__container__box">
						<h1>Federer ça fait 20 ans qu'il tape dans la balle quoi<br><!-- <span></span> --></h1>
						<!-- <img class="separateur" src="img/separateur.svg" alt=""> -->
						<h2 class="author">Un article de<span> Laurent Favre</span></h2>	
						<h2 class="social" >
							<a target="blank" href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button"><i class="fa fa-facebook"></i></a>
							<a target="blank" href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=letemps"><i class="fa fa-twitter fa-middle"></i></a>
							<a target="blank" href="https://www.linkedin.com/shareArticle?url={{ app.url }}&mini=true&title={{ title|url_encode }}&summary={{ description|url_encode }}&source={{ 'Le Temps'|url_encode }}"><i class="fa fa-linkedin"></i></a>
						</h2>
					</div>
				</div>
			</div> 

			

			<div class="scroll-indicator">
				<div class="scroll-indicator-inner"></div> 
			</div>

			<!-- <div class="header-sponsor">
				<a href="https://www.letemps.ch/partenariats" target="_blank"><span class="charte">[?]</span></a>
				<a href="https://www.mirabaud.com/fr/" target="_blank"><img src="img/logo-sponsor-only.svg" alt=""></a> 
				<span>Avec le soutien de </span>

			</div> -->
		</header>

		

		<section class="text padding-bottom">
			<div class="container">

				<h3>
					Les agriculteurs sont de plus en plus montrés du doigt en raison de l’impact des produits phytosanitaires sur l’environnement, comme en témoigne le succès de l’initiative populaire «Pour une suisse sans pesticides», récemment déposée. Mais la Suisse peut-elle vraiment se passer de ces produits?	<hr> 
				</h3>

				<div class="spacer-small"></div>
				<div class="spacer-small"></div>

				<h4>
					Texte: Pascaline Minet<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>Illustrations: Florent Collioud et César Greppin<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>Iconographie: Catherine Rüttimann<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span> Vidéos: Arnaud Mathier<br>
					<span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span> Webdesign et animation: César Greppin
				</h4>

				<p>
					C’est une partie de pêche qui a fait prendre conscience du problème à Gabriel de la Harpe. Il y a quelques années, cet agriculteur et employé communal de Yens a assisté le garde-pêche alors qu’il effectuait des prélèvements dans le Boiron, une rivière du canton de Vaud qui parcourt de nombreuses zones agricoles.«Au niveau de la source, il y avait une grande variété de poissons, de plantes aquatiques et même une écrevisse locale d’une grande rareté. Mais cette diversité a disparu à mesure qu’on descendait le cours de la rivière. Arrivé au niveau de Tolochenaz, elle était comme morte», se remémore Gabriel de la Harpe, dont l’exploitation se situe dans le bassin-versant du Boiron. A la suite de cette expérience, il a rejoint un programme fédéral visant à réduire son usage de pesticides et a participé à la création du réseau écologique du Boiron, qu’il préside aujourd’hui.
				</p>

				<!-- (EXPERIMENTAL) CITATION DROIT DANS UN PARAGRAPHE. DOIT ETRE DANS UNE SECTION -->
				<blockquote class="right">
					<span>Nous avons reçu des milliers de courriers de personnes qui nous remercient, pour leur avenir et celui de leurs enfants</span>
					<div class="caption"><b>ETIENNE KUHN</b>, membre du comité d’initiative apolitique «Pour une Suisse libre de pesticides de synthèse»</div>
				</blockquote>

				<p>
					L’impact des produits phytosanitaires sur l’environnement et sur la santé alarme un nombre croissant de personnes en Suisse. L’année passée, la réautorisation dans l’Union européenne du glyphosate, herbicide soupçonné d’être cancérigène, a contribué à sensibiliser un large public, au-delà de celui des écologistes convaincus. «Nous bénéficions d’une sympathie affolante, affirme Etienne Kuhn, membre du comité d’initiative apolitique «Pour une Suisse libre de pesticides de synthèse», déposée le 25 mai à la Chancellerie fédérale à Berne. Nous avons reçu des milliers de courriers de personnes qui nous remercient, pour leur avenir et celui de leurs enfants.»En janvier, une autre initiative populaire intitulée «Pour une eau potable propre et une alimentation saine» avait également abouti; un de ses objectifs est de réserver l’octroi de paiements directs aux agriculteurs qui n’utilisent pas de pesticides de synthèse.
				</p>

				<p>
					 La situation se tend donc entre une société qui demande une transformation écologique de l’agriculture – sans forcément
					en imaginer les conséquences – et des professionnels qui se sentent montrés du doigt. Comment sortir de cette ornière? Notre
					enquête montre que ce ne sera pas facile, car l’agriculture suisse, l’une des plus intensives au monde, est fortement dépendante
					des pesticides. Mais des pistes de changement existent bel et bien. Depuis quelques années, les agriculteurs tentent de limiter leur recours
					aux pesticides. Dans les champs, les vergers et les vignobles, mais aussi au sein des centres de recherche et des organisations
					professionnelles, une bataille s’est engagée pour produire avec moins de chimie.
				</p>

			</div>
		</section>

	

		

		<!-- PETITE IMAGE ENTRE 2 PARAGRAPHES -->
		<!-- <section class="gallery small">
			<div class="layout">
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<div class="caption">
					<b>LES CLANDESTINS</b> ont souvent subi des situations de violence liées aux narcotrafiquants.
				</div>
			</div>
		</section> -->

		

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<!-- <section class="gallery hero">
			<div class="layout"> 
				<img class="zoom lazy" data-original="img/lazy-placeholder.jpg">
				<div class="caption">
					<b>VICENTE PACO</b>, l'agent de la Border Patrol rencontré à Nogales. <i>«Quand je porte l’uniforme, je suis là pour appliquer la loi et servir les Etats-Unis, rien d’autre ne compte.»</i>
				</div>
			</div>
		</section> -->


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Une agriculture accro à la chimie</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum rem accusantium error deserunt enim ipsam fugit eius, eos nobis deleniti dolore ut quos velit eligendi facere placeat fugiat quod necessitatibus, explicabo reiciendis, perferendis a assumenda cum? Voluptatem voluptatibus iure neque eaque veniam? Quidem quis culpa deleniti ratione rerum facilis porro hic in, laudantium unde! Eligendi veritatis fugit enim? Quasi nulla quibusdam libero eius inventore eaque illum doloremque veritatis recusandae, accusantium adipisci facere fugiat iste temporibus ab delectus dignissimos commodi! Itaque commodi accusamus impedit sit, optio fugit dolore ipsa molestias quae rem dolorem alias quas earum cum, consectetur possimus iure. Quaerat sint quia odit excepturi molestias, perferendis, optio nihil autem unde quibusdam pariatur nobis? Ex consectetur asperiores at incidunt quibusdam porro nisi ratione facere dolorum, aspernatur, deleniti cum? Deleniti ut mollitia, illum fugit asperiores molestiae, iure ducimus nobis a sint id, debitis iste repellendus provident ipsa aliquid. 
				</p>

				<p>
					Incidunt eum voluptas, nesciunt numquam optio, eveniet architecto nostrum sequi temporibus similique et vel quia enim impedit? Sit minima voluptates explicabo, neque unde molestias sed, deleniti rem praesentium, nemo ad repellat nihil officia error aut? Quisquam, ipsum veniam natus cupiditate explicabo velit voluptas, debitis cumque nobis molestiae quis quae deleniti corporis, architecto earum. Accusantium est esse recusandae ut, perferendis repudiandae deserunt quos magnam fugit qui quidem explicabo autem amet architecto ratione quisquam necessitatibus eius iusto? Neque laudantium illo eos tempora beatae rem eligendi itaque, consequatur maiores vero laboriosam sint blanditiis dolor reiciendis? Quas voluptatum nihil, doloremque quisquam saepe alias aut ipsam officia itaque? Distinctio rem sequi expedita earum sint optio a ipsum ex vitae blanditiis dolorem, non voluptatem ipsam aspernatur beatae aut, molestiae nam sapiente cumque fugiat laboriosam. 
				</p>

				<p>
					Quis dolor, facere alias perspiciatis labore natus quibusdam? Unde labore expedita ducimus, deleniti dolores necessitatibus, recusandae, illo accusantium ipsam doloribus dolorum perferendis sapiente? Voluptates doloremque, tempore sit tenetur animi exercitationem nihil hic commodi doloribus a quidem totam maxime iusto laudantium voluptate cum, mollitia expedita. Officia, tempora molestiae libero autem, vel rerum nam commodi, laborum nulla aliquam impedit repellendus quas numquam cupiditate. Dolorem rerum labore, rem quis voluptate accusantium officia odio doloribus. 
				</p>

				<p>
					Qui eos possimus nihil consequuntur, quisquam quos temporibus consectetur nostrum incidunt repudiandae sequi, quas eius vero suscipit eveniet fugit ut rem accusantium praesentium, aliquid inventore? Laboriosam ab qui ut inventore distinctio totam cupiditate. Quasi nisi reprehenderit pariatur necessitatibus commodi debitis nemo temporibus hic aut adipisci labore recusandae possimus totam quis ipsum, aperiam officiis aliquid optio, inventore id dolorum perferendis. Amet, blanditiis facilis dolorem doloribus voluptates fugit dolor animi debitis nesciunt quasi? Sequi quia numquam eaque nam natus accusantium illo fuga voluptatem excepturi recusandae commodi cupiditate consequatur itaque sint officiis suscipit, neque pariatur saepe ab aliquam vero ipsum, velit perferendis qui? 
				</p>

			</div>
		</section>


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Une agriculture accro à la chimie</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum rem accusantium error deserunt enim ipsam fugit eius, eos nobis deleniti dolore ut quos velit eligendi facere placeat fugiat quod necessitatibus, explicabo reiciendis, perferendis a assumenda cum? Voluptatem voluptatibus iure neque eaque veniam? Quidem quis culpa deleniti ratione rerum facilis porro hic in, laudantium unde! Eligendi veritatis fugit enim? Quasi nulla quibusdam libero eius inventore eaque illum doloremque veritatis recusandae, accusantium adipisci facere fugiat iste temporibus ab delectus dignissimos commodi! Itaque commodi accusamus impedit sit, optio fugit dolore ipsa molestias quae rem dolorem alias quas earum cum, consectetur possimus iure. Quaerat sint quia odit excepturi molestias, perferendis, optio nihil autem unde quibusdam pariatur nobis? Ex consectetur asperiores at incidunt quibusdam porro nisi ratione facere dolorum, aspernatur, deleniti cum? Deleniti ut mollitia, illum fugit asperiores molestiae, iure ducimus nobis a sint id, debitis iste repellendus provident ipsa aliquid. 
				</p>

				<p>
					Incidunt eum voluptas, nesciunt numquam optio, eveniet architecto nostrum sequi temporibus similique et vel quia enim impedit? Sit minima voluptates explicabo, neque unde molestias sed, deleniti rem praesentium, nemo ad repellat nihil officia error aut? Quisquam, ipsum veniam natus cupiditate explicabo velit voluptas, debitis cumque nobis molestiae quis quae deleniti corporis, architecto earum. Accusantium est esse recusandae ut, perferendis repudiandae deserunt quos magnam fugit qui quidem explicabo autem amet architecto ratione quisquam necessitatibus eius iusto? Neque laudantium illo eos tempora beatae rem eligendi itaque, consequatur maiores vero laboriosam sint blanditiis dolor reiciendis? Quas voluptatum nihil, doloremque quisquam saepe alias aut ipsam officia itaque? Distinctio rem sequi expedita earum sint optio a ipsum ex vitae blanditiis dolorem, non voluptatem ipsam aspernatur beatae aut, molestiae nam sapiente cumque fugiat laboriosam. 
				</p>

				<p>
					Quis dolor, facere alias perspiciatis labore natus quibusdam? Unde labore expedita ducimus, deleniti dolores necessitatibus, recusandae, illo accusantium ipsam doloribus dolorum perferendis sapiente? Voluptates doloremque, tempore sit tenetur animi exercitationem nihil hic commodi doloribus a quidem totam maxime iusto laudantium voluptate cum, mollitia expedita. Officia, tempora molestiae libero autem, vel rerum nam commodi, laborum nulla aliquam impedit repellendus quas numquam cupiditate. Dolorem rerum labore, rem quis voluptate accusantium officia odio doloribus. 
				</p>

				<p>
					Qui eos possimus nihil consequuntur, quisquam quos temporibus consectetur nostrum incidunt repudiandae sequi, quas eius vero suscipit eveniet fugit ut rem accusantium praesentium, aliquid inventore? Laboriosam ab qui ut inventore distinctio totam cupiditate. Quasi nisi reprehenderit pariatur necessitatibus commodi debitis nemo temporibus hic aut adipisci labore recusandae possimus totam quis ipsum, aperiam officiis aliquid optio, inventore id dolorum perferendis. Amet, blanditiis facilis dolorem doloribus voluptates fugit dolor animi debitis nesciunt quasi? Sequi quia numquam eaque nam natus accusantium illo fuga voluptatem excepturi recusandae commodi cupiditate consequatur itaque sint officiis suscipit, neque pariatur saepe ab aliquam vero ipsum, velit perferendis qui? 
				</p>

			</div>
		</section>


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Une agriculture accro à la chimie</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum rem accusantium error deserunt enim ipsam fugit eius, eos nobis deleniti dolore ut quos velit eligendi facere placeat fugiat quod necessitatibus, explicabo reiciendis, perferendis a assumenda cum? Voluptatem voluptatibus iure neque eaque veniam? Quidem quis culpa deleniti ratione rerum facilis porro hic in, laudantium unde! Eligendi veritatis fugit enim? Quasi nulla quibusdam libero eius inventore eaque illum doloremque veritatis recusandae, accusantium adipisci facere fugiat iste temporibus ab delectus dignissimos commodi! Itaque commodi accusamus impedit sit, optio fugit dolore ipsa molestias quae rem dolorem alias quas earum cum, consectetur possimus iure. Quaerat sint quia odit excepturi molestias, perferendis, optio nihil autem unde quibusdam pariatur nobis? Ex consectetur asperiores at incidunt quibusdam porro nisi ratione facere dolorum, aspernatur, deleniti cum? Deleniti ut mollitia, illum fugit asperiores molestiae, iure ducimus nobis a sint id, debitis iste repellendus provident ipsa aliquid. 
				</p>

				<p>
					Incidunt eum voluptas, nesciunt numquam optio, eveniet architecto nostrum sequi temporibus similique et vel quia enim impedit? Sit minima voluptates explicabo, neque unde molestias sed, deleniti rem praesentium, nemo ad repellat nihil officia error aut? Quisquam, ipsum veniam natus cupiditate explicabo velit voluptas, debitis cumque nobis molestiae quis quae deleniti corporis, architecto earum. Accusantium est esse recusandae ut, perferendis repudiandae deserunt quos magnam fugit qui quidem explicabo autem amet architecto ratione quisquam necessitatibus eius iusto? Neque laudantium illo eos tempora beatae rem eligendi itaque, consequatur maiores vero laboriosam sint blanditiis dolor reiciendis? Quas voluptatum nihil, doloremque quisquam saepe alias aut ipsam officia itaque? Distinctio rem sequi expedita earum sint optio a ipsum ex vitae blanditiis dolorem, non voluptatem ipsam aspernatur beatae aut, molestiae nam sapiente cumque fugiat laboriosam. 
				</p>

				<p>
					Quis dolor, facere alias perspiciatis labore natus quibusdam? Unde labore expedita ducimus, deleniti dolores necessitatibus, recusandae, illo accusantium ipsam doloribus dolorum perferendis sapiente? Voluptates doloremque, tempore sit tenetur animi exercitationem nihil hic commodi doloribus a quidem totam maxime iusto laudantium voluptate cum, mollitia expedita. Officia, tempora molestiae libero autem, vel rerum nam commodi, laborum nulla aliquam impedit repellendus quas numquam cupiditate. Dolorem rerum labore, rem quis voluptate accusantium officia odio doloribus. 
				</p>

				<p>
					Qui eos possimus nihil consequuntur, quisquam quos temporibus consectetur nostrum incidunt repudiandae sequi, quas eius vero suscipit eveniet fugit ut rem accusantium praesentium, aliquid inventore? Laboriosam ab qui ut inventore distinctio totam cupiditate. Quasi nisi reprehenderit pariatur necessitatibus commodi debitis nemo temporibus hic aut adipisci labore recusandae possimus totam quis ipsum, aperiam officiis aliquid optio, inventore id dolorum perferendis. Amet, blanditiis facilis dolorem doloribus voluptates fugit dolor animi debitis nesciunt quasi? Sequi quia numquam eaque nam natus accusantium illo fuga voluptatem excepturi recusandae commodi cupiditate consequatur itaque sint officiis suscipit, neque pariatur saepe ab aliquam vero ipsum, velit perferendis qui? 
				</p>

			</div>
		</section>


		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Une agriculture accro à la chimie</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum rem accusantium error deserunt enim ipsam fugit eius, eos nobis deleniti dolore ut quos velit eligendi facere placeat fugiat quod necessitatibus, explicabo reiciendis, perferendis a assumenda cum? Voluptatem voluptatibus iure neque eaque veniam? Quidem quis culpa deleniti ratione rerum facilis porro hic in, laudantium unde! Eligendi veritatis fugit enim? Quasi nulla quibusdam libero eius inventore eaque illum doloremque veritatis recusandae, accusantium adipisci facere fugiat iste temporibus ab delectus dignissimos commodi! Itaque commodi accusamus impedit sit, optio fugit dolore ipsa molestias quae rem dolorem alias quas earum cum, consectetur possimus iure. Quaerat sint quia odit excepturi molestias, perferendis, optio nihil autem unde quibusdam pariatur nobis? Ex consectetur asperiores at incidunt quibusdam porro nisi ratione facere dolorum, aspernatur, deleniti cum? Deleniti ut mollitia, illum fugit asperiores molestiae, iure ducimus nobis a sint id, debitis iste repellendus provident ipsa aliquid. 
				</p>

				<p>
					Incidunt eum voluptas, nesciunt numquam optio, eveniet architecto nostrum sequi temporibus similique et vel quia enim impedit? Sit minima voluptates explicabo, neque unde molestias sed, deleniti rem praesentium, nemo ad repellat nihil officia error aut? Quisquam, ipsum veniam natus cupiditate explicabo velit voluptas, debitis cumque nobis molestiae quis quae deleniti corporis, architecto earum. Accusantium est esse recusandae ut, perferendis repudiandae deserunt quos magnam fugit qui quidem explicabo autem amet architecto ratione quisquam necessitatibus eius iusto? Neque laudantium illo eos tempora beatae rem eligendi itaque, consequatur maiores vero laboriosam sint blanditiis dolor reiciendis? Quas voluptatum nihil, doloremque quisquam saepe alias aut ipsam officia itaque? Distinctio rem sequi expedita earum sint optio a ipsum ex vitae blanditiis dolorem, non voluptatem ipsam aspernatur beatae aut, molestiae nam sapiente cumque fugiat laboriosam. 
				</p>

				<p>
					Quis dolor, facere alias perspiciatis labore natus quibusdam? Unde labore expedita ducimus, deleniti dolores necessitatibus, recusandae, illo accusantium ipsam doloribus dolorum perferendis sapiente? Voluptates doloremque, tempore sit tenetur animi exercitationem nihil hic commodi doloribus a quidem totam maxime iusto laudantium voluptate cum, mollitia expedita. Officia, tempora molestiae libero autem, vel rerum nam commodi, laborum nulla aliquam impedit repellendus quas numquam cupiditate. Dolorem rerum labore, rem quis voluptate accusantium officia odio doloribus. 
				</p>

				<p>
					Qui eos possimus nihil consequuntur, quisquam quos temporibus consectetur nostrum incidunt repudiandae sequi, quas eius vero suscipit eveniet fugit ut rem accusantium praesentium, aliquid inventore? Laboriosam ab qui ut inventore distinctio totam cupiditate. Quasi nisi reprehenderit pariatur necessitatibus commodi debitis nemo temporibus hic aut adipisci labore recusandae possimus totam quis ipsum, aperiam officiis aliquid optio, inventore id dolorum perferendis. Amet, blanditiis facilis dolorem doloribus voluptates fugit dolor animi debitis nesciunt quasi? Sequi quia numquam eaque nam natus accusantium illo fuga voluptatem excepturi recusandae commodi cupiditate consequatur itaque sint officiis suscipit, neque pariatur saepe ab aliquam vero ipsum, velit perferendis qui? 
				</p>

			</div>
		</section>

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Une agriculture accro à la chimie</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum rem accusantium error deserunt enim ipsam fugit eius, eos nobis deleniti dolore ut quos velit eligendi facere placeat fugiat quod necessitatibus, explicabo reiciendis, perferendis a assumenda cum? Voluptatem voluptatibus iure neque eaque veniam? Quidem quis culpa deleniti ratione rerum facilis porro hic in, laudantium unde! Eligendi veritatis fugit enim? Quasi nulla quibusdam libero eius inventore eaque illum doloremque veritatis recusandae, accusantium adipisci facere fugiat iste temporibus ab delectus dignissimos commodi! Itaque commodi accusamus impedit sit, optio fugit dolore ipsa molestias quae rem dolorem alias quas earum cum, consectetur possimus iure. Quaerat sint quia odit excepturi molestias, perferendis, optio nihil autem unde quibusdam pariatur nobis? Ex consectetur asperiores at incidunt quibusdam porro nisi ratione facere dolorum, aspernatur, deleniti cum? Deleniti ut mollitia, illum fugit asperiores molestiae, iure ducimus nobis a sint id, debitis iste repellendus provident ipsa aliquid. 
				</p>

				<p>
					Incidunt eum voluptas, nesciunt numquam optio, eveniet architecto nostrum sequi temporibus similique et vel quia enim impedit? Sit minima voluptates explicabo, neque unde molestias sed, deleniti rem praesentium, nemo ad repellat nihil officia error aut? Quisquam, ipsum veniam natus cupiditate explicabo velit voluptas, debitis cumque nobis molestiae quis quae deleniti corporis, architecto earum. Accusantium est esse recusandae ut, perferendis repudiandae deserunt quos magnam fugit qui quidem explicabo autem amet architecto ratione quisquam necessitatibus eius iusto? Neque laudantium illo eos tempora beatae rem eligendi itaque, consequatur maiores vero laboriosam sint blanditiis dolor reiciendis? Quas voluptatum nihil, doloremque quisquam saepe alias aut ipsam officia itaque? Distinctio rem sequi expedita earum sint optio a ipsum ex vitae blanditiis dolorem, non voluptatem ipsam aspernatur beatae aut, molestiae nam sapiente cumque fugiat laboriosam. 
				</p>

				<p>
					Quis dolor, facere alias perspiciatis labore natus quibusdam? Unde labore expedita ducimus, deleniti dolores necessitatibus, recusandae, illo accusantium ipsam doloribus dolorum perferendis sapiente? Voluptates doloremque, tempore sit tenetur animi exercitationem nihil hic commodi doloribus a quidem totam maxime iusto laudantium voluptate cum, mollitia expedita. Officia, tempora molestiae libero autem, vel rerum nam commodi, laborum nulla aliquam impedit repellendus quas numquam cupiditate. Dolorem rerum labore, rem quis voluptate accusantium officia odio doloribus. 
				</p>

				<p>
					Qui eos possimus nihil consequuntur, quisquam quos temporibus consectetur nostrum incidunt repudiandae sequi, quas eius vero suscipit eveniet fugit ut rem accusantium praesentium, aliquid inventore? Laboriosam ab qui ut inventore distinctio totam cupiditate. Quasi nisi reprehenderit pariatur necessitatibus commodi debitis nemo temporibus hic aut adipisci labore recusandae possimus totam quis ipsum, aperiam officiis aliquid optio, inventore id dolorum perferendis. Amet, blanditiis facilis dolorem doloribus voluptates fugit dolor animi debitis nesciunt quasi? Sequi quia numquam eaque nam natus accusantium illo fuga voluptatem excepturi recusandae commodi cupiditate consequatur itaque sint officiis suscipit, neque pariatur saepe ab aliquam vero ipsum, velit perferendis qui? 
				</p>

			</div>
		</section>

		

		<!-- HERO IMAGE ENTRE 2 PARAGRAPHES -->
		<section class="gallery hero">
			<div class="layout">
				<img class="zoom lazy" data-original="img/accueil-placeholder.jpg">
				<!-- <div class="caption">
					Seiko Astron GPS 
				</div> -->
			</div>
		</section>

		
		<section class="">
			<div class="container">

				<h3 class="inter-titre title">Une agriculture accro à la chimie</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum rem accusantium error deserunt enim ipsam fugit eius, eos nobis deleniti dolore ut quos velit eligendi facere placeat fugiat quod necessitatibus, explicabo reiciendis, perferendis a assumenda cum? Voluptatem voluptatibus iure neque eaque veniam? Quidem quis culpa deleniti ratione rerum facilis porro hic in, laudantium unde! Eligendi veritatis fugit enim? Quasi nulla quibusdam libero eius inventore eaque illum doloremque veritatis recusandae, accusantium adipisci facere fugiat iste temporibus ab delectus dignissimos commodi! Itaque commodi accusamus impedit sit, optio fugit dolore ipsa molestias quae rem dolorem alias quas earum cum, consectetur possimus iure. Quaerat sint quia odit excepturi molestias, perferendis, optio nihil autem unde quibusdam pariatur nobis? Ex consectetur asperiores at incidunt quibusdam porro nisi ratione facere dolorum, aspernatur, deleniti cum? Deleniti ut mollitia, illum fugit asperiores molestiae, iure ducimus nobis a sint id, debitis iste repellendus provident ipsa aliquid. 
				</p>

				<p>
					Incidunt eum voluptas, nesciunt numquam optio, eveniet architecto nostrum sequi temporibus similique et vel quia enim impedit? Sit minima voluptates explicabo, neque unde molestias sed, deleniti rem praesentium, nemo ad repellat nihil officia error aut? Quisquam, ipsum veniam natus cupiditate explicabo velit voluptas, debitis cumque nobis molestiae quis quae deleniti corporis, architecto earum. Accusantium est esse recusandae ut, perferendis repudiandae deserunt quos magnam fugit qui quidem explicabo autem amet architecto ratione quisquam necessitatibus eius iusto? Neque laudantium illo eos tempora beatae rem eligendi itaque, consequatur maiores vero laboriosam sint blanditiis dolor reiciendis? Quas voluptatum nihil, doloremque quisquam saepe alias aut ipsam officia itaque? Distinctio rem sequi expedita earum sint optio a ipsum ex vitae blanditiis dolorem, non voluptatem ipsam aspernatur beatae aut, molestiae nam sapiente cumque fugiat laboriosam. 
				</p>

				<p>
					Quis dolor, facere alias perspiciatis labore natus quibusdam? Unde labore expedita ducimus, deleniti dolores necessitatibus, recusandae, illo accusantium ipsam doloribus dolorum perferendis sapiente? Voluptates doloremque, tempore sit tenetur animi exercitationem nihil hic commodi doloribus a quidem totam maxime iusto laudantium voluptate cum, mollitia expedita. Officia, tempora molestiae libero autem, vel rerum nam commodi, laborum nulla aliquam impedit repellendus quas numquam cupiditate. Dolorem rerum labore, rem quis voluptate accusantium officia odio doloribus. 
				</p>

				<p>
					Qui eos possimus nihil consequuntur, quisquam quos temporibus consectetur nostrum incidunt repudiandae sequi, quas eius vero suscipit eveniet fugit ut rem accusantium praesentium, aliquid inventore? Laboriosam ab qui ut inventore distinctio totam cupiditate. Quasi nisi reprehenderit pariatur necessitatibus commodi debitis nemo temporibus hic aut adipisci labore recusandae possimus totam quis ipsum, aperiam officiis aliquid optio, inventore id dolorum perferendis. Amet, blanditiis facilis dolorem doloribus voluptates fugit dolor animi debitis nesciunt quasi? Sequi quia numquam eaque nam natus accusantium illo fuga voluptatem excepturi recusandae commodi cupiditate consequatur itaque sint officiis suscipit, neque pariatur saepe ab aliquam vero ipsum, velit perferendis qui? 
				</p>

			</div>
		</section>

		
		
        
        
		
		<footer>
			<!-- <hr class="end"> -->
			<div class="container">

				<h5>Nos grands formats</h5>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2017/bol-dor-mirabaud-epopee-technologique/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-boldor.jpg');"></div>
							<div class="caption">Le Bol d'Or, une épopée technologique</div>
						</div>
					</a>

					<a href="https://labs.letemps.ch/interactive/2016/longread-parc-adula/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_adula.jpg');"></div>
							<div class="caption">Parc Adula: Bataille dans la montagne</div>
						</div>
					</a>
				</div>

				<div class="row">
				<a href="https://labs.letemps.ch/interactive/2016/longread-fioul-lourd/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_fioul.jpg');"></div>
							<div class="caption">Fioul lourd, le sang impur de la globalisation</div>
						</div>
					</a>

					<a href="https://labs.hebdo.ch/interactive/2016/longread-horlogerie-japonaise/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-horlogerie-japonaise.jpg');"></div>
							<div class="caption">Horlogerie japonaise – A la conquête du monde</div>
						</div>
					</a>
				</div>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2016/longread-gothard/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_gothard.jpg');"></div>
							<div class="caption">Les oubliés du Gothard</div>
						</div>
					</a>
					<a href="https://labs.letemps.ch/interactive/2016/tchernobyl-30-ans/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-tchernobyl.jpg');"></div>
							<div class="caption">30 ans après, voyage au cœur de la zone </div>
						</div>
					</a>
				</div>

				<div class="row">
					<a href="https://labs.letemps.ch/interactive/2016/shenzhen/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb_shenzhen.jpg');"></div>
							<div class="caption">Shenzhen, de la fumée des usines aux ateliers d'artistes</div>
						</div>
					</a>
					<a href="https://labs.letemps.ch/interactive/2016/montre-suisse/" target="blank" class="footer__link">
						<div class="teaser">
							<div class="teaser-bg" style="background: url('img/thumb-montre.jpg');"></div>
							<div class="caption">Comment j'ai fabriqué ma montre en 8 heures</div>
						</div>
					</a>
					
				</div>

			</div>

			<div class="credits">
				Texte: Pascaline Minet<br>
				Illustrations: Florent Collioud et César Greppin<br>
				Iconographie: Catherine Rüttimann<br>
				Vidéos: Arnaud Mathier<br>
				Webdesign et animation: César Greppin
			</div>
		</footer>
		
		{{ block('footer_brand') }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
        <script src="js/jquery.lazyload.js?v=1.9.7"></script>
        <script src="js/intro-control.js"></script>
		<script src="js/viewport.js"></script>
        <!--<script src="js/timeline-control.js"></script>-->
        <script src="js/owl.carousel.js"></script>
        <script src="js/main.js"></script>
        <script src="js/timeline.js"></script>
        <!--<script src="js/video-control.js"></script>-->
        <!--<script src="js/map-anim.js"></script>-->
		<!--<script src="js/hero-control.js"></script>-->
		<script src="js/animation-pesticides.js"></script>
		<script src="js/animation-charts.js"></script>
        <script src="js/zoom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>
	</body>
</html>